/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 98%;
    --foreground: 345 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 345 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 345 71% 4%;

    --primary: 352 91% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 355 40% 96%;
    --secondary-foreground: 345 47% 11%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 47%;

    --accent: 355 60% 96%;
    --accent-foreground: 345 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 355 20% 91%;
    --input: 355 20% 91%;
    --ring: 352 91% 54%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 345 5.3% 26.1%;

    --sidebar-primary: 345 47% 11%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 355 20% 95.9%;

    --sidebar-accent-foreground: 345 47% 11%;

    --sidebar-border: 355 13% 91%;

    --sidebar-ring: 352 91% 54%;
  }

  .dark {
    --background: 345 30% 4.9%;
    --foreground: 0 0% 98%;

    --card: 345 30% 4.9%;
    --card-foreground: 0 0% 98%;

    --popover: 345 30% 4.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 352 91% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 345 20% 17.5%;
    --secondary-foreground: 0 0% 98%;

    --muted: 345 15% 17.5%;
    --muted-foreground: 0 0% 65.1%;

    --accent: 352 40% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 345 20% 17.5%;
    --input: 345 20% 17.5%;
    --ring: 352 91% 65%;
    --sidebar-background: 345 30% 10%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 352 91% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 345 15% 15.9%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 345 15% 15.9%;
    --sidebar-ring: 352 91% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  :where(p, span, li, h1, h2, h3, h4, h5, h6, a, button, label, td, th) {
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  pre,
  code {
    overflow-x: auto;
    white-space: pre;
  }
}
